.sidebar {
    height: 100vh;
    background-color: var(--dark-sidebar-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
}

.itens{
    width: 100hv;
}

.itens a{
    text-decoration: none;
    color: white;
}

.itens a:hover{
    color: #000;
    background-color: white;
    border-radius: 20px 0 0 20px;
}


.titulo-adm{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    font-size: 20px;
    margin-top: auto;
}

.titulo-dashboard{
    margin: 10px;
}

.container-titulo{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.home-section{
    background-color: rgb(244, 255, 255);
}

.opcao {
    border: 1px 1px solid #000;
    text-decoration: none;
}