{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'candidato/css/candidato.css' %}">
{% endblock %}


{% block 'dashboard' %}
    <div class="container mt-5">
        {% for mensagem in messages %}
            {% if mensagem.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ mensagem }}
                </div>
            {% endif %}
        {% endfor %}   
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between custom-title">
                    Cadastro
                    <img width="40" height="40" src="{% static 'img/icons8-cadastro-50.png' %}" alt="cadastro candidato">
                </h5>
                <form method="post" action="{% url 'candidato' %}">
                    {% csrf_token %}
                    {% if mensagens_erro %}
                        <ul class="messages">
                        {% for mensagem in mensagens_erro %}
                            <li style="color: rgb(255, 93, 93); list-style-type: none;">{{ mensagem }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                        <div class="form-group">
                            <label for="nome">Nome Completo</label>
                            <input type="text" class="form-control bg-secundary" placeholder="Nome Completo" name="nome" value="{% if campos_data %}{{ campos_data.nome }}{% endif %}" required>
                        </div>
                        <div class="form-group">
                            <label>CPF</label>
                            <input type="text" {% if 'CPF' in campos_erro %} style="border-color: red;" {% endif %} class="form-control" placeholder="___.___.___-__" name="cpf" value="{% if campos_data %}{{ campos_data.cpf }}{% endif %}" required>
                        </div>
                        <div class="form-group">
                            <label>Data de Nascimento</label>
                            <input type="date" class="form-control" {% if 'data' in campos_erro %} style="border-color: red;" {% endif %} placeholder="dd/mm/aaaa" name="data_nascimento" value="{% if campos_data %}{{ campos_data.data_nascimento }}{% endif %}" required>
                        </div>
                        <div class="form-group">
                            <label for="grupoAtendimento">Selecione um Grupo de Atendimento:</label>
                            <select class="form-control" name="grupoAtendimento" id="grupoAtendimento">
                                {% for grupo in grupos %}
                                <option value="{{ grupo.nome }}">{{ grupo.codigo_si_pni }} - {{ grupo.nome }}</option>
                                {% endfor %}
                        </select>
                        </div>
                        <div class="form-group">
                            <label>Teve covid nos últimos 30 dias?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="teve_covid" id="sim" value="sim" {% if campos_data %}{% if campos_data.teve_covid %} checked {% endif %}{% endif %}>
                                <label class="form-check-label" for="sim">
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="teve_covid" id="nao" value="nao" {% if campos_data %}{% if not campos_data.teve_covid %} checked {% endif %}{% endif %}>
                                <label class="form-check-label" for="nao">
                                    Não
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" {% if 'senha' in campos_erro or 'ambas_senha' in campos_erro %} style="border-color: red;" {% endif %} type="password" id="senha" name="senha" required>
                        </div>
                        <div class="form-group">
                            <label>Confirme a Senha:</label>
                            <input class="form-control" {% if 'ambas_senhas' in campos_erro %} style="border-color: red;" {% endif %} type="password" id="confirmarSenha" name="confirmarSenha" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input class="btn custom-btn btn-principal btn-lg" type="submit" value="Cadastrar">
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'login_candidato' %}" class="btn btn-link">Já tenho cadastro, faça login</a>
                        </div>
                        
                </form>

            </div>
        </div>    
    </div>
    </div>
{% endblock %}