{% extends 'base_autenticado.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'candidato/css/candidato.css' %}">
{% endblock %}

{% block 'nome' %}
    {{ nome }}
{% endblock %}
{% block 'data' %}
    {{ idade }} anos ({{ data_nascimento }}) 
{% endblock %}
{% block 'cpf' %}
    {{ cpf }}
{% endblock %}
{% block 'apto' %}
    {{ apto }}
{% endblock %}


{% block 'dashboard'%}
<h1 class="center">AGENDAMENTO</h1>
<div class="container">
    <button</button>
</div>
{% endblock %}