{% extends 'base_autenticado.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'candidato/css/candidato.css' %}">
{% endblock %}

{% block 'nome' %}
    {{ dados_usuario.nome }}
{% endblock %}
{% block 'data' %}
    {{ dados_usuario.idade }} anos ({{ dados_usuario.data_nascimento }}) 
{% endblock %}
{% block 'cpf' %}
    {{ dados_usuario.cpf }}
{% endblock %}
{% block 'apto' %}
    {{ dados_usuario.apto }}
{% endblock %}


{% block 'dashboard'%}

<div class="container">
    <div class="col">
        <h1 class="text-center texto-principal">AGENDAMENTO</h1>
        <a href="{% url 'agendamento:agendamento' %}">
        <button type="button" class="btn custom-btn" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-plus"></i>
        </button>
        </a>    
    </div>
    {% for mensagem in messages %}
        {% if mensagem.tags == 'error' %}
            <div class="alert alert-danger mt-2" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="col mt-3">
        <div class="card">
            <div class="container">
                <div class="d-flex justify-content-between pagination">
                    <div class="card-header">
                        Seus Agendamentos
                    </div>
                    {% if not ordem or ordem == 'decrescente' %}
                    <a href="?ordem=crescente">
                        <img style="height: 30px; width: 30px; margin-top: 10px;" src="{% static 'img/icons8-ordem-crescente-50.png' %}" alt="">
                    </a>
                    {% endif %}
                    {% if ordem == 'crescente' %}
                    <a href="?ordem=decrescente">
                        <img style="height: 30px; width: 30px; margin-top: 10px;" src="{% static 'img/icons8-ordem-decrescente-50.png' %}" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
            
            <div class="card-body card-maior">
                {% if not agendamentos_pagina.object_list %}
                    <div style="text-align: center;">
                        <p style="color: rgba(41, 41, 41, 0.479);">Você ainda não possue agendamento.</p>
                    </div>
                {% endif %}
                <div class="row">
                    <!-- Cards menores -->
                    {% for agendamento in agendamentos_pagina.object_list %}
                        <div class="col-md-4 mb-3">
                            <div class="card card-menor {% if agendamento.jah_expirou %} card-menor-expirado {% endif %}">
                                <p class="informacao-hover">Agendamento expirado.</p>
                                <div class="card-header">
                                    {{ agendamento.data }}
                                </div>
                                <div class="card-body text-center {% if not agendamento.jah_expirou %} custom-card-body {% endif %}">
                                    <p class="card-text text-sm mb-0 texto-card">Estabelecimento</p>
                                    <p class="card-text text-sm">{{ agendamento.nome_estabelecimento }} - {{ agendamento.codigo_estabelecimento }}</p>
                                    <p class="card-text text-sm mb-0 texto-card">Dia</p>
                                    <p class="card-text text-sm">{{ agendamento.dia }}</p>
                                    <p class="card-text text-sm mb-0 texto-card">Horário</p>
                                    <p class="card-text text-sm">{{ agendamento.hora }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-3">
        <div class="container">
            <div class="d-flex justify-content-between pagination">
                <span class="step-link">
                    {% if agendamentos_pagina.has_previous %}
                        <a href="?page={{ agendamentos_pagina.previous_page_number }}">Anterior</a>
                    {% endif %}
                    {% if agendamentos_pagina.has_next %}
                        <a href="?page={{ agendamentos_pagina.next_page_number }}">Próximo</a>
                    {% endif %}
                </span>
                <span>
                    Página {{ agendamentos_pagina.number }} de {{ agendamentos_pagina.paginator.num_pages }}.
                </span>
            </div>
        </div>
    </div>


</div>

{% endblock %}

