
.custom-card {
  position: relative;
  border-bottom: 10px solid var(--differential-color);
  padding-bottom: 5px; 
  color: var(--main-color);
}
  

.custom-card::before{
  content: '';
  position: absolute;
  top: 20px;
  left: 0px;
  right: 10px;
  height: 35px;
  width: 10px; 
  background-color: var(--differential-color);
  border-radius: 0 5px 5px 0;
} 
  
.custom-title{
  color: var(--differential-color);
}
  
.custom-btn {
  background-color: var(--differential-color);
  color: var(--light-color);
}

.card-maior {
  background-color: var(--background-color);
}

.card-menor:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.card-menor-expirado {
  background-color: rgba(78, 78, 78, 0.144);
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 0.2px black; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.informacao-hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(116, 115, 115, 0.63);
}

.card-menor-expirado:hover .informacao-hover {
  opacity: 1;
  
}

.custom-card-body {
  color: var(--differential-color);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: inherit;
  text-align: center;
  background-color: white;
}

.texto-card {
  font-size: 12px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}