{% extends 'base_autenticado.html' %}
{% load static %}


{% block 'head' %}
<style>
    .list-group-item.active {
        border: 1px solid green!important;
    }

</style>
{% endblock %}

{% block 'nome' %}
    {{ dados_usuario.nome }}
{% endblock %}
{% block 'data' %}
    {{ dados_usuario.idade }} anos ({{ dados_usuario.data_nascimento }}) 
{% endblock %}
{% block 'cpf' %}
    {{ dados_usuario.cpf }}
{% endblock %}
{% block 'apto' %}
    {{ dados_usuario.apto }}
{% endblock %}


{% block 'dashboard'%}

<div class="container">
    <form method="post" action="{% url 'agendamento:agendamento' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="estabelecimento">Selecione um Grupo de Atendimento:</label>
                <select class="form-control" name="estabelecimento" id="estabelecimento">
                    {% for estabelecimento in estabelecimentos %}
                        <option value="{{ estabelecimento.codigo }},{{ estabelecimento.nome }}">{{ estabelecimento.codigo }} - {{ estabelecimento.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="d-flex" id="itens">
                        {% for data in datas %}
                            <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="{{ data }}" onclick="selecionarItem('{{ data }}')">{{ data }}</a>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="itens_selecionados" id="itensSelecionados">
                </div>
            </div>
            <div class="form-group">
                <label for="horario">Selecione um Horario</label>
                <div class="d-flex" id="itens">
                    <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="A" onclick="selecionarItem('A')">{{ hora }}:00</a>
                    <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="B" onclick="selecionarItem('B')">{{ hora }}:12</a>
                    <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="C" onclick="selecionarItem('C')">{{ hora }}:24</a>
                    <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="D" onclick="selecionarItem('D')">{{ hora }}:36</a>
                    <a href="#" class="list-group-item list-group-item-action rounded-pill" data-item="E" onclick="selecionarItem('E')">{{ hora }}:48</a>
                </div>
                <input type="hidden" name="itens_selecionados" id="itensSelecionados">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn custom-btn">Agendar</button>
            </div>
    </form>
</div>
<script>
    var itensSelecionados = [];

    function selecionarItem(item) {
        var elemento = document.querySelector('.list-group-item[data-item="' + item + '"]');
        if (elemento) {
            // Desmarca todos os itens
            document.querySelectorAll('.list-group-item').forEach(function(item) {
                item.classList.remove('active');
                });

                // Marca apenas o item clicado
                elemento.classList.add('active');

                // Atualiza o valor do campo hidden com o item selecionado
                document.getElementById('itensSelecionados').value = item;

            // Atualiza o valor do campo hidden com os itens selecionados
            document.getElementById('itensSelecionados').value = itensSelecionados.join(',');
        }
    }
</script>
{% endblock %}