{% extends 'base_autenticado.html' %}
{% load static %}


{% block 'head' %}
<style>
    .list-group-item.active {
        border: 2px solid var(--differential-color)!important;
        background-color: white;
        color: black;
    }

</style>
{% endblock %}

{% block 'nome' %}
    {{ dados_usuario.nome }}
{% endblock %}
{% block 'data' %}
    {{ dados_usuario.idade }} anos ({{ dados_usuario.data_nascimento }}) 
{% endblock %}
{% block 'cpf' %}
    {{ dados_usuario.cpf }}
{% endblock %}
{% block 'apto' %}
    {% if dados_usuario.apto %} 
        Sim 
    {% else %}
        Não
    {% endif %}
{% endblock %}


{% block 'dashboard'%}

<div class="container">
    <a href="{% url 'pagina_inicial' %}">
        <button type="button" class="btn custom-btn" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-arrow-left"></i>
        </button>
        </a> 
    <div class="container m-3 text-center">
        <div class="texto-principal">
            <h3>Novo Agendamento</h3>
        </div>
    </div>
    <form method="post" action="{% url 'agendamento:agendamento' %}">
        {% csrf_token %}
        {% for mensagem in messages %}
        {% if mensagem.tags == 'error' %}
            <div class="alert alert-danger mt-2" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
        {% endfor %}
            <div class="form-group">
                <label for="estabelecimento">Selecione um Grupo de Atendimento:</label>
                <select class="form-control" name="estabelecimento" id="estabelecimento">
                    <option value="">Selecione um estabelecimento</option>
                    {% for estabelecimento in estabelecimentos %}
                        <option value="{{ estabelecimento.codigo }},{{ estabelecimento.nome }}">{{ estabelecimento.codigo }} - {{ estabelecimento.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="container" id="div_data" style="display: none;">
                    <label for="horario">Selecione uma Data</label>
                    <div class="d-flex flex-wrap" id="datas_disponiveis">
                    </div>
                    <input type="hidden" name="data" id="data_input">
                </div>
            </div>
            <div class="form-group">
                <div id="div_hora" style="display: none;">
                    <label for="horario">Selecione um Horario</label>
                    <div class="d-flex" id="itens">
                    </div>
                    <input type="hidden" name="hora" id="hora_input">
                </div>
            </div>
            <div class="modal-footer">
                <a href="{% url 'pagina_inicial'%}"><button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button></a>
                <button type="submit" class="btn custom-btn">Agendar</button>
            </div>
    </form>
</div>
<script>

    var estabelecimentoSelect = document.getElementById('estabelecimento');
    var datasContainer = document.getElementById('datas_disponiveis');
    var divData = document.getElementById('div_data')
    var horasContainer = document.getElementById('itens');
    var divHora = document.getElementById('div_hora')

    estabelecimentoSelect.addEventListener('change', function () {
        var estabelecimentoId = estabelecimentoSelect.value;
        estabelecimentoId = estabelecimentoId.slice(0, 7)

        divData.style.display = 'block';

        fetch('/agendamento/obter-datas-disponiveis/' + estabelecimentoId+ '/')
            .then(response => response.json())
            .then(data => {
                datasContainer.innerHTML = '';

                data.datas_disponiveis.forEach(date => {
                    var link = document.createElement('a');
                    link.className = 'list-group-item list-group-item-action rounded-pill col-md-3 data';
                    link.setAttribute('data-item', date);
                    link.setAttribute('id', 'data')
                    link.onclick = function () {
                        selecionarData(date);
                        HorariosDisponiveis(estabelecimentoId, date, {{ hora }});
                    };
                    link.textContent = converterData(date);
                    datasContainer.appendChild(link);
                });
            });
            
    });

    function HorariosDisponiveis(estabelecimento, data, hora) {
        divHora.style.display = 'block';
        fetch('/agendamento/obter-minutos-disponiveis/' + estabelecimento + '/' + data + '/' + hora + '/')
            .then(response => response.json())
            .then(data => {
                horasContainer.innerHTML = '';

                data.minutos_disponiveis.forEach(minuto => {
                    var hora = document.createElement('a');
                    hora.className = 'list-group-item list-group-item-action rounded-pill hora';
                    hora.setAttribute('data-item', {{ hora }} + ':'  + minuto);
                    hora.setAttribute('id', 'hora')
                    hora.onclick = function () {
                        selecionarHora({{ hora }} + ':'  + minuto);
                    };
                    hora.textContent = {{ hora }} + ':'  + minuto;
                    horasContainer.appendChild(hora);
                });
            });
    }


    function selecionarHora(item) {
        var elemento = document.querySelector('.hora[data-item="' + item + '"]');
        if (elemento) {
            // Desmarca todos os itens
            document.querySelectorAll('.hora').forEach(function(item) {
                item.classList.remove('active');
                });

                // Marca apenas o item clicado
                elemento.classList.add('active');

                // Atualiza o valor do campo hidden com o item selecionado
                document.getElementById('hora_input').value = item;
        }
    }

    function selecionarData(item) {
        var elemento = document.querySelector('.data[data-item="' + item + '"]');
        if (elemento) {
            // Desmarca todos os itens
            document.querySelectorAll('.data').forEach(function(item) {
                item.classList.remove('active');
                });

                // Marca apenas o item clicado
                elemento.classList.add('active');

                // Atualiza o valor do campo hidden com o item selecionado
                document.getElementById('data_input').value = item;
        }
    }

    function converterData(dataNoFormatoOriginal) {
        // Dividir a data usando o caractere '-' como delimitador
        var partesData = dataNoFormatoOriginal.split('-');

        // Inverter a ordem das partes da data
        var dataFormatada = partesData.reverse().join('-');



        return dataFormatada + ' ' + obterDiaDaSemana(dataNoFormatoOriginal);
    }

    function obterDiaDaSemana(dataString) {
        var data = new Date(dataString);

        var diasDaSemana = ['Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo'];

        var numeroDiaSemana = data.getDay();

        var nomeDiaSemana = diasDaSemana[numeroDiaSemana];

        return nomeDiaSemana;
    }
</script>
{% endblock %}