{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'candidato/css/candidato.css' %}">
{% endblock %}


{% block 'dashboard' %}
    <div class="container mt-5">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between custom-title">
                    Login Administrador
                    <img width="40" height="40" src="{% static 'img/icons8-login.png' %}" alt="cadastro candidato">
                </h5>
                <form method="post" action="{% url 'login_administrador' %}">
                    {% csrf_token %}
                    {% for mensagem in messages %}
                        {% if mensagem.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ mensagem }}
                            </div>
                        {% endif %}
                        {% if mensagem.tags == 'success' %}
                            <div class="alert alert-success" role="alert">
                                {{ mensagem }}
                            </div>
                        {% endif %}
                    {% endfor %}
                        <div class="form-group">
                            <label>CPF</label>
                            <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" required>
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" type="password" id="senha" name="senha" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input class="btn custom-btn btn-lg" type="submit" value="Entrar" class="btn-principal">
                        </div>
                        <div class="d-flex justify-content-center">
                        
                </form>
            </div>
        </div>        
    </div>
    {% if mensagem_sucesso %}
    <script>
      // Use JavaScript para exibir um alerta
      window.onload = function() {
        alert("Cadastrado com sucesso, Faça login para continuar.");
      };
    </script>
    {% endif %}
{% endblock %}